* {
    padding: 0;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 100px;
    gap: 2px;
    margin: 50px;
    padding: 1px;
    width: 500px;
}

.grid-item1 {
    background-color: green;
    color: white;
    border: 1px solid white;
    font-size: 18px;
    padding: 1rem;
    grid-column: 1/5;
}

.grid-item2 {
    grid-row: 2/6;
    height: 400px;
    background-color: green;
    color: white;
    border: 1px solid white;
    font-size: 18px;
    padding: 1rem;
}

.grid-item3 {
    grid-column: 2/3;
    background-color: green;
    color: white;
    border: 1px solid white;
    font-size: 18px;
    padding: 1rem;
}

.grid-item4 {
    grid-column: 3/5;
    background-color: green;
    color: white;
    border: 1px solid white;
    font-size: 18px;
    padding: 1rem;
}

.grid-item5 {
    grid-column: 2/4;
    background-color: green;
    color: white;
    border: 1px solid white;
    font-size: 18px;
    padding: 1rem;
}

.grid-item6 {
    grid-column: 4/5;
    background-color: green;
    color: white;
    border: 1px solid white;
    font-size: 18px;
    padding: 1rem;
}

.grid-item7 {
    grid-column: 2/3;
    background-color: green;
    color: white;
    border: 1px solid white;
    font-size: 18px;
    padding: 1rem;
}

.grid-item8 {
    grid-column: 3/4;
    background-color: green;
    color: white;
    border: 1px solid white;
    font-size: 18px;
    padding: 1rem;
}

.grid-item9 {
    grid-column: 4/5;
    background-color: green;
    color: white;
    border: 1px solid white;
    font-size: 18px;
    padding: 1rem;
}

.grid-item10 {
    grid-column: 2/5;
    background-color: green;
    color: white;
    border: 1px solid white;
    font-size: 18px;
    padding: 1rem;
}